@font-face {
    font-family: 'hellix';
    src: url('Font/Hellix-Regular.ttf') format('truetype');
}

body {
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2%;
    align-items: center;
}

.sup {
    display: flex;
    /* width: 20rem; */
    gap: 2rem;
}

.sup-btn {
    color: #47C857;
    background: white;
    border: solid 1px #47C857;
    border-radius: 25px;
    height: 36px;
    width: 98px;
}

.hero-sec {
    width: 100vw;
    height: 47rem;
    background: url('Img/image 1.png'), linear-gradient(292deg, rgba(0, 194, 231, 0.15) 15.34%, rgba(0, 194, 231, 0.01) 81.38%) no-repeat;
    background-position: 7.394px -134.245px;
    background-size: 100% 206.571%;
    flex-shrink: 0;
}

.fast-sec {
    color: #002C3F;
    font-family: 'hellix';
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.2575;
    margin-bottom: 1.8rem;
    max-width: 53.7rem;
}

.fast-sec span {
    color: #00C2E7;
}

.redefine {
    color: #002C3F;
    font-family: 'hellix';
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2575;
    max-width: 52.3rem;
}

.left-text {
    height: 19rem;
    left: 7.6rem;
    position: absolute;
    top: 10.6rem;
    width: 53.7rem;
}

.search-field {
    display: flex;
    justify-content: space-between;
    background-color: rgba(101, 105, 115, 0.05);
    height: 52px;
    border-radius: 25px;
    overflow: hidden;
}

input[type=text],
input[type=text]:focus,
button,
button:focus {
    outline: none;
    border: none;
}

input[type=text] {
    flex: 1;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.search-field button {
    background-color: rgba(0, 44, 63, 1);
    width: 60px;
    color: white;
    font-size: 1.2rem;
}

::placeholder {
    color: rgba(101, 105, 115, 0.3);
    font-size: 16px;
    font-family: 'hellix';
}

.discount {
    align-items: center;
    background-color: rgba(0, 194, 231, 0.1199999973);
    border-radius: 0.4rem;
    color: #002c3f;
    display: flex;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 1rem;
    font-weight: 400;
    height: 1.7rem;
    justify-content: center;
    left: 21.6rem;
    line-height: 1.5;
    position: absolute;
    top: 42.7rem;
    white-space: nowrap;
    width: 32.3rem;

    .discount-sub-0 {
        color: #002c3f;
        font-family: Hellix, 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2575;
    }

    .discount-sub-1 {
        color: #002c3f;
        font-family: Hellix, 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.2575;
    }

    .discount-sub-2 {
        color: #002c3f;
        font-family: Hellix, 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2575;
    }

    .discount-sub-3 {
        color: #002c3f;
        font-family: Hellix, 'Source Sans Pro';
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.2575;
    }
}

/* .image-1 {
    background-image: ;
    background-position: 0.7394rem -13.4245rem;
    background-size: 100% 206.571%;
    height: 49.5rem;
    left: 52.7rem;
    position: relative;  
  } */

.mask-group {
    height: 34.4436rem;
    left: 65rem;
    object-fit: contain;
    position: absolute;
    top: 14.3rem;
    vertical-align: top;
    width: 52.9966rem;
}

.why-scycare {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.why-text {
    color: #002c3f;
    flex-shrink: 0;
    font-family: 'hellix';
    font-size: 4.8rem;
    font-weight: 500;
    line-height: 1.4166666667;
    margin: 0rem 2.5rem 4.3rem 0rem;
    white-space: nowrap;
}

.why-group-1 {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 5.4rem;
    margin: 0rem 4.2rem 0.7rem 0rem;
}

.test-tube {
    flex-shrink: 0;
    height: 5.4rem;
    margin-right: 0.1rem;
    object-fit: cover;
    vertical-align: top;
    width: 5.4rem;
}

.why-group-1-sub {
    display: flex;
    flex-direction: column;
    /* flex-shrink: 0; */
    /* height: calc(100% - 0.4rem); */
    /* margin: 0.2rem 0; */
}

.fast-safe {
    color: #002c3f;
    flex-shrink: 0;
    font-family: 'hellix';
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.2rem;
    white-space: nowrap;
    margin-bottom: -1rem;
}

.on-time {
    color: #656973;
    flex-shrink: 0;
    font-family: Hellix, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 400;
    white-space: nowrap;
}

.why-groups {
    display: flex;
}

.order {
    /* border-radius: 2.5rem; */
    /* flex-shrink: 0; */
    height: 5.5rem;
    /* margin: 0rem 48.8rem 0rem 50.7rem; */
    /* width: calc(100% - 99.5rem); */
    margin-top: 3rem;
}

.order-btn {
    align-items: center;
    background-color: #00c2e7;
    border-radius: 2.5rem;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    font-family: Hellix, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 500;
    height: 55px;
    justify-content: center;
    line-height: 1.3999999762;
    white-space: nowrap;
    width: 291px;
}

.steps {
    width: 80%;
    height: 17.063rem;
    background-color: #002C3F;
    border-radius: 20px;
    align-items: center;
    display: flex;
    /* justify-content: center; */
    /* align-content: center; */
    flex-direction: column;
    /* flex-shrink: 0; */
    margin-left: 10%;
    margin-top: 4%;
}

.steps-text-1 {
    font-size: 1.5rem;
    color: #00C2E7;
    font-family: 'hellix';
    text-align: center;
}

.group-1306 {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.200000003);
    border: solid 0.1rem #ffffff;
    border-radius: 2.65rem;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    flex-shrink: 0;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 3.2rem;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    line-height: 0.5;
    text-align: center;
    white-space: nowrap;
    width: 5.3rem;
}

.steps-num {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 5.3rem;
    margin: 1.5rem 8rem 0.1rem 7.35rem;
    width: calc(100% - 15.35rem);
}

.line-55 {
    background-color: #ffffff;
    flex-shrink: 0;
    height: 0.1rem;
    width: 22.75rem;
}

.auto-group {
    flex-shrink: 0;
    height: 100%;
    position: relative;
    width: 27.9rem;
}

.group-1307 {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.200000003);
    border: solid 0.1rem #ffffff;
    border-radius: 2.65rem;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 3.2rem;
    font-weight: 500;
    height: 5.3rem;
    justify-content: center;
    left: 0;
    line-height: 0.5;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 5.3rem;
  }

.line-54 {
    background-color: #ffffff;
    height: 0.1rem;
    left: 5.2rem;
    position: absolute;
    top: 2.6rem;
    width: 22.75rem;
  }

.group-1308 {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.200000003);
    border: solid 0.1rem #ffffff;
    border-radius: 2.65rem;
    box-sizing: border-box;
    color: #ffffff;
    display: flex;
    flex-shrink: 0;
    font-family: Poppins, 'Source Sans Pro';
    font-size: 3.2rem;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    line-height: 0.5;
    text-align: center;
    white-space: nowrap;
    width: 5.3rem;
}

.steps-sub-text {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    width: 71%;
    margin-left: 8%;
}

.select-test {
    color: #ffffff;
    flex-shrink: 0;
    font-family: Hellix, 'Source Sans Pro';
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 0.8;
    margin-right: 27%;
    text-align: center;
    white-space: nowrap;
}

.add-details {
    color: #ffffff;
    flex-shrink: 0;
    font-family: Hellix, 'Source Sans Pro';
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 0.8;
    margin-right: 21%;
    text-align: center;
    white-space: nowrap;
}

.complete-request {
    color: #ffffff;
    flex-shrink: 0;
    font-family: Hellix, 'Source Sans Pro';
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 0.8;
    text-align: center;
    white-space: nowrap;
}

.popular-text {
    color: #002C3F;
    font-size: 3rem;
    font-family: 'hellix';
    font-weight: 500;
}

.pop-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-all-checkups {
    color: white;
    background-color: #00C2E7;
    width: 15.438rem;
    height: 3.438rem;
    border-radius: 1.563rem;
    font-size: 1rem;
    font-family: 'hellix';
}

.checkup-sub-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100%;
    width: 122.7rem;
}

.checkup-sub-2 {
    align-items: center;
    column-gap: 4.8rem;
    display: flex;
    flex-shrink: 0;
    height: 15.1rem;
    margin-bottom: 3.6rem;
    width: 100%;
}

.checkup-card-1 {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: 0 0.4rem 1rem rgba(3, 92, 109, 0.0700000003);
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    height: 14.9rem;
    margin-top: 0.2rem;
    padding: 0.397rem 1.6rem 0.402rem 0rem;
}

.checkup-card-2 {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: 0 0.4rem 1rem rgba(3, 92, 109, 0.0700000003);
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    height: 14.9rem;
    margin-bottom: 0.2rem;
    padding: 0.397rem 1.6rem 0.402rem 0rem;
}

.checkup-card-3 {
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 2rem;
    box-shadow: 0 0.4rem 1rem rgba(3, 92, 109, 0.0700000003);
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    height: 14.9rem;
    margin-bottom: 0.2rem;
    padding: 0.397rem 1.6rem 0.402rem 0rem;
}

.checkup {
    align-items: center;
    column-gap: 2.5rem;
    display: flex;
    flex-shrink: 0;
    height: 21.1rem;
}

.fa-angle-left, .fa-angle-right {
    flex-shrink: 0;
    height: 2rem;
    margin-bottom: 6.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.1rem;
}

.intersect {
    flex-shrink: 0;
    height: 14.101rem;
    margin-right: 1.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 0.8rem;
}

.check-card-1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 9.313rem;
    margin: 1.103rem 0.6rem 1.698rem 0rem;
    width: 23.563rem;
}

.full-body {
    color: #656973;
    flex-shrink: 0;
    font-family: Hellix, 'Source Sans Pro';
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2575;
    margin: 0rem 0rem 1.6rem 0.1rem;
    white-space: nowrap;
}

.check-sub-1-1 {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 3.6rem;
    margin-right: 1.9rem;
    width: calc(100% - 1.9rem);
}

.parameters {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    height: 100%;
    margin-right: 3.2rem;
    column-gap: 1rem;
}

.para-text {
    color: #656973;
    flex-shrink: 0;
    font-family: 'hellix';
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    max-width: 7.4rem;
}